/***************************************************************************************************
* Waybar Theme and Styling
***************************************************************************************************/

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, monospace;
    font-size: 13px;
}

window#waybar {
    background-color: #21262b;
    color: #dededd;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #424b55;
    color: #dededd;
}

#window,
#workspaces {
    margin: 0 10px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

label.module {
    border-left: 5px solid #424b55;
    padding-right: 5px;
    padding-left: 5px;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

label:focus {
    background-color: #000000;
}


/**************************************************************************
* Battery Module 
**************************************************************************/

#battery.warning {
    background-color: #f2cf26;
    color: #21262b;
} 

#battery.critical {
    background-color: #f32e2e;
    color: #21262b;
}

/**************************************************************************
* Network Module 
**************************************************************************/

#network.wifi,
#network.ehternet {
    color: #75ee37;
}

#network.disconnected,
#network.linked {
    color: #f32e2e;
}

/**************************************************************************
* IDLE Module 
**************************************************************************/

#idle_inhibitor.activated {
    color: #75ee37;
}

#idle_inhibitor.deactivated {
    color: #f32e2e;
}

