[Desktop Entry]
Name=Visual Studio Code JAILED
Comment=Code Editing. Refined. - JAILED USING FIREJAIL AND APPARMOR
GenericName=Text Editor
Exec=firejail --name=code --apparmor /usr/bin/code %F
Icon=visual-studio-code
Type=Application
StartupNotify=false
StartupWMClass=Code
Categories=TextEditor;Development;IDE;
MimeType=text/plain;inode/directory;application/x-code-workspace;
Actions=new-empty-window;
Keywords=vscode;

[Desktop Action new-empty-window]
Name=New Empty Window JAILED
Exec=firejail --name=code --apparmor /usr/bin/code --new-window %F
Icon=visual-studio-code
