[Desktop Entry]
Name=Discord JAILED
StartupWMClass=discord
Comment=All-in-one voice and text chat for gamers that's free, secure, and works on both your desktop and phone. - JAILED USING FIREJAIL AND APPARMOR
GenericName=Internet Messenger
Exec=firejail --name=discord --apparmor /usr/bin/discord
Icon=discord
Type=Application
Categories=Network;InstantMessaging;
Path=/usr/bin
