[Desktop Entry]
Name=Thunderbird JAILED
Comment=Send and receive mail with Thunderbird - JAILED USING FIREJAIL AND APPARMOR
GenericName=Mail Client JAILED
Exec=firejail --name=thunderbird --apparmor thunderbird %u
Terminal=false
Type=Application
Icon=org.mozilla.Thunderbird
Categories=Network;Email;
MimeType=message/rfc822;x-scheme-handler/mailto;text/calendar;text/vcard;text/x-vcard;x-scheme-handler/webcal;x-scheme-handler/webcals;x-scheme-handler/mid;
StartupNotify=true
StartupWMClass=thunderbird
Actions=ComposeMessage;OpenAddressBook;

[Desktop Action ComposeMessage]
Name=Write new message JAILED
Exec=firejail --name=thunderbird --apparmor thunderbird -compose

[Desktop Action OpenAddressBook]
Name=Open address book JAILED
Exec=firejail --name=thunderbird --apparmor thunderbird -addressbook
